<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>MarketEer</title>
    <link rel="stylesheet" type="text/css" href="../public/src/custom.css">
    <link rel="stylesheet" type="text/css"  href="../public/src/store.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/20fcff0bce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-100 max-w-screen-2xl mx-auto">
    <nav class="top-0 z-10 bg-main flex flex-col text-white sticky" id="navMain">
        <div class="h-5 w-full flex bg-gray-300 top-0 sticky">
          <div class="flex ml-auto mr-1 sm:mr-4 text-black text-sm"> 
            <a href="store_ToU.html" class="mr-2 hover:text-[#ff2f00]">About</a>
            <a href="store_ToU.html" class="mr-2 hover:text-[#ff2f00]">Help Center</a>
            <a href="store_login.html" class="flex mr-2 hover:text-[#ff2f00]">
              <span class="self-center" id="">        
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                </svg> 
              </span>
              <p class="">Akun</p>
            </a>
          </div>
        </div>
    
        <div class="flex justify-between h-20 w-auto px-2 sm:px-6 md:px-16 lg:px-24 font-semibold ">
          <div class="trirong self-center">
            <a href="store.html" class="text-3xl hidden sm:block sm:text-4xl">MarketEer</a>
            <a href="store.html" class="h-full flex w-12 block sm:hidden">
              <img src="../public/img/MARKETEER_CROPED.png" alt="" class="w-full self-center object-cover">
            </a>
          </div>
          <form class="w-8/12 h-full">
            <div class="h-full flex relative mx-4">
                <button id="dropdown-button" onclick="myFunction()" data-dropdown-toggle="dropdown" class="self-center flex-shrink-0 z-10 inline-flex items-center py-2.5 px-2 sm:px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:border-blue-700 focus:ring-blue-700 focus:ring-1 focus:outline-none" type="button">
                  <p class="hidden sm:block">All categories</p>
                  <p class="block sm:hidden">All</p>
                  <svg aria-hidden="true" class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                  </svg>
                </button>
                <div id="dropdown-category" class="w-36 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow left-0 absolute mt-16">
                  <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-button">
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">fashion</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">personal care</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">gadgets</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">electronics</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">home</button>
                    </li>
                    <li>
                        <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">tools</button>
                    </li>
                  </ul>
                </div>
                <div class="relative w-full self-center">
                  <form action="">
                    <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border border-gray-300 focus:border-blue-700 focus:ring-blue-700 focus:ring-1 focus:outline-none" placeholder="Cari barang..." required>
                    <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                        <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                        </svg>
                    </button>
                  </form>
                </div>
            </div>
          </form>
          <div class="flex trirong self-center text-white">
            <a href="#" class="mr-1 sm:ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 sm:w-9 sm:h-9">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
              </svg>          
            </a>
            <a href="#" class="ml-1 sm:ml-4">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 sm:w-9 sm:h-9">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
              </svg>  
            </a>
          </div>
        </div>
      </nav>
    
    <main class="w-full grid lg:grid-cols-3 bg-gray-200">

        <section class="col-span-2">
            <div class="sm:grid sm:grid-cols-2 gap-x-6 px-2 sm:px-4 py-4">
                <div class="sm:col-span-1 flex justify-center h-full max-h-72 sm:auto sm:sticky top-28">
                    <div class="w-16 h-full overflow-y-scroll space-y-1 scrollbar-hide ">
                        <img src="../public/img/air_jordan_7_3.jpg" alt="" class="row-span-1 object-cover border border-sky-500 w-full">
                        <img src="../public/img/air_jordan_7_2.jpg" alt="" class="row-span-1 object-cover border border-sky-500 w-full">
                        <img src="../public/img/air_jordan_7.jpg" alt="" class="row-span-1 object-cover border border-sky-500 w-full">
                    </div>
                    <div class="w-3/4 sm:w-full h-full ml-2">
                        <img src="../public/img/nike-jordan.jpg" alt="" class="h-full w-full object-cover">
                    </div>
                </div>
                <div class="col-span-1 relative mx-6 sm:mx-0 mt-4">
                    <div class="">
                        <h1 class="text-xl sm:text-2xl font-bold">Air Jordan 7 Retro SE Men's Shoes 40-47</h1>
                        <div class="mt-1 flex">
                            <p class="mr-1">Terjual 10 |</p>
                            <span>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                5 (10 user)
                            </span>
                        </div>
                        <div class="mt-3">
                            <p class="text-3xl font-bold self-center">Rp14.999.999</p>
                            <span class="flex flex-wrap mt-1">
                                <span class="bg-[#ca0101] px-3 py-1 text-sm font-semibold text-white">42%</span>
                                <p class="mx-2 text-sm line-through self-center text-secondary">Rp1.500.000</p>              
                            </span>
                        </div>                    
                        <div class="mt-4">
                            <div class="">
                                <div class="col-span-2 self-center mb-2">Pilih ukuran : 40</div>
                                <div class="col-span-10 flex" id="ukuran">
                                    <input type="button" class="btn w-8 h-8 border-2 border-sky-500 rounded-sm mr-2 cursor-pointer" value="40">
                                    <input type="button" class="btn w-8 h-8 border-2 border-sky-500 rounded-sm mr-2 cursor-pointer" value="41">
                                    <input type="button" class="btn w-8 h-8 border-2 border-sky-500 rounded-sm mr-2 cursor-pointer" value="42">
                                    <input type="button" class="btn w-8 h-8 border-2 border-sky-500 rounded-sm mr-2 cursor-pointer" value="43">
                                </div>
                            </div>
                            <div class="grid grid-cols-12 mt-3">
                                <div class="col-span-2 self-center">Kategori</div>
                                <div class="col-span-10 flex">
                                    <p class="self-center mr-3">:</p>
                                    <p>Fashion Pria</p>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 mt-2">
                                <div class="col-span-2 self-center">Dimensi</div>
                                <div class="col-span-10 flex">
                                    <p class="self-center mr-3">:</p>
                                    <p>30cm x 15cm x 10cm</p>
                                </div>
                            </div>
                            <div class="grid grid-cols-12 mt-2">
                                <div class="col-span-2 self-center">Berat</div>
                                <div class="col-span-10 flex">
                                    <p class="self-center mr-3">:</p>
                                    <p>360gr</p>
                                </div>
                            </div>

                        </div>
                        <div class="mt-4">
                            <h1 class="font-bold text-lg">Pengiriman :</h1>
                            <div class="flex">
                                <span class="mr-1 self-center">
                                    <i class="fa-solid fa-location-dot "></i>
                                </span>
                                <p>Dikirim dari Yogyakarta</p>
                            </div>
                            <div class="flex mt-1">
                                <span class="mr-1 mt-3">
                                    <i class="fa-solid fa-truck fa-sm"></i>
                                </span>
                                <div>
                                    <p>Ongkir 10 rb - 12 rb</p>
                                    <p>Estimasi 12 Mei - 31 Des</p>
                                </div>
                            </div>
                        </div>
                        <div class="hidden sm:block" id="detail-item">
                            <div class="mt-5">
                                <p>Deskripsi :</p>
                                <ul class="list-disc list-inside">
                                    <li>Full-length Nike Air technology provides lightweight cushioning</li>
                                    <li>Leather and textile materials in the upper add durability</li>
                                    <li>Rubber outsole gives your style traction</li>
                                    <li>Colour Shown: Vachetta Tan/Taxi/Dark Concord/Black</li>
                                    <li>Style: DZ4729-200</li>
                                    <li>Country/Region of Origin: China</li>
                                </ul>
                            </div>
                            <div class="mt-6">
                                <p>CATATAN :</p>
                                <ul class="list-disc list-inside">
                                    <li>Barang yang sudah dibeli tidak dapat dikembalikan atau ditukar dengan alasan apapun, kecuali:</li>
                                    <li>Kami pihak seller salah mengirim barang sehingga tidak sesuai dengan pesanan.</li>
                                    <li>Barang yang kita kirim tidak sesuai dengan gambar maupun deskripsi.</li>
                                    <li>Ketersediaan size sudah update di pilihan warna dan ukuran, jika masih bisa di pesan berarti ready.</li>
                                    <li>Pemesanan akan kami proses maksimal 2x24 jam kerja, tidak termasuk hari sabtu, minggu, dan tanggal merah.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="mt-4 border-b border-sky-400" id="detail-click" onclick="detail()">
                            <div id="detil" class="flex sm:hidden justify-center mx-auto">
                                <span class="self-center mr-1">
                                    <i class="fa-solid fa-angle-down"></i>
                                </span>
                                <p class="font-semibold">selengkapnya</p>
                            </div>

                            <div id="tutup" class="hidden flex sm:hidden justify-center mx-auto">
                                <span class="self-center mr-1">
                                    <i class="fa-solid fa-angle-up"></i>
                                </span>
                                <p class="font-semibold">lebih sedikit</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full bg-gray-200">
                <div class="w-5/6 mb-8 mx-auto divide-y-2 divide-gray-300">
                    <h1 class="mt-10 text-3xl font-semibold">Ulasan</h1>
                    <div class="w-full h-auto px-5 pt-2 pb-6 mt-4 bg-white">
                        <div class="flex mb-3">
                            <span>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                            </span>
                            <p class="ml-2 font-semibold">· 16 JUL</p>
                        </div>
                        <div class="flex">
                            <span class="flex justify-center bg-slate-400 rounded-full w-8 h-8">
                                <i class="self-center fa-solid fa-user fa-md text-[#fff]"></i>
                            </span>
                            <h2 class="ml-1 self-center text-lg font-semibold">Mykhailo Mudryk</h2>
                        </div>
                        <div class="mt-1">
                            <p class="text-sm">Air Jordan 7 Retro SE Men's, 44</p>
                            <p class="mt-2 text-lg">jangan belanja disini nanti ketagihan!!!</p>
                        </div>
                    </div>
    
                    <div class="w-full h-auto px-5 pt-2 pb-6 bg-white">
                        <div class="flex mb-3">
                            <span>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-gray-400"></i>
                            </span>
                            <p class="ml-2 font-semibold">· 11 JUN</p>
                        </div>
                        <div class="flex">
                            <span class="flex justify-center bg-slate-400 rounded-full w-8 h-8">
                                <i class="self-center fa-solid fa-user fa-md text-[#fff]"></i>
                            </span>
                            <h2 class="ml-1 self-center text-lg font-semibold">Andreas Christensen</h2>
                        </div>
                        <div class="mt-1">
                            <p class="text-sm">Air Jordan 7 Retro SE Men's, 41</p>
                            <p class="mt-2 text-lg">Pengiriman cepat, barang bagus dan nyaman dipakai</p>
                        </div>
                    </div>
    
                    <div class="w-full h-auto px-5 pt-2 pb-6 bg-white">
                        <div class="flex mb-3">
                            <span>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-amber-500"></i>
                                <i class="fa-solid fa-star text-gray-400"></i>
                            </span>
                            <p class="ml-2 font-semibold">· 23 MAY</p>
                        </div>
                        <div class="flex">
                            <span class="flex justify-center bg-slate-400 rounded-full w-8 h-8">
                                <i class="self-center fa-solid fa-user fa-md text-[#fff]"></i>
                            </span>
                            <h2 class="ml-1 self-center text-lg font-semibold">Carney Chukwuemeka</h2>
                        </div>
                        <div class="mt-1">
                            <p class="text-sm">Air Jordan 7 Retro SE Men's, 43</p>
                            <p class="mt-2 text-lg">harga murah dan terjangkau</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="col-span-1 p-4">
            <div class="border-2 border-sky-400 p-4 rounded-sm sticky top-28">
                <h1 class="text-xl font-semibold mb-2">Atur jumlah</h1>
                <div class="flex font-semibold mb-2">
                    <p class="text-lg">Air Jordan 7 Retro SE Men's</p>
                    <p class="text-lg">, 40</p>
                </div>
                <div class="flex mb-3">
                    <div class="w-28 h-10 flex bg-white rounded-md">
                        <button class="mr-auto px-3 hover:bg-slate-100" id="buttonDec">
                            <i class="fa-solid fa-minus text-[#fa4f00]"></i>
                        </button>
                        <div class="self-center">
                            <p class="font-bold text-xl" id="hasil"></p>
                        </div>
                        <button class="ml-auto px-3 hover:bg-slate-100" id="buttonInc">
                            <i class="fa-solid fa-plus text-[#fa4f00]"></i>
                        </button>
                    </div>
                    <div class="ml-2 self-center">
                        <p class="text-xl font-semibold">stok 10</p>
                    </div>
                </div>
                <div class="mb-6">
                    <div class="flex">
                        <span class="self-center">
                            <i class="fa-solid fa-pencil"></i>
                        </span>
                        <p class="ml-1">tambah catatan</p>
                    </div>
                    <input type="text" class="w-3/4 py-1 px-2 rounded-lg">
                </div>
                <div class="border-t border-gray-500">
                    <div class="flex flex-wrap mt-1">
                        <p class="ml-auto text-sm line-through self-center text-secondary">Rp1.500.000</p>              
                    </div>
                    <div class="flex text-xl font-semibold">
                        <p>Subtotal</p>
                        <p class="ml-auto">Rp14.999.999</p>
                    </div>
                </div>
                <div class="mt-5 px-4">
                    <div class="flex justify-center mb-2">
                        <button class="py-2 px-4 mr-2 w-full bg-amber-300 hover:bg-amber-400 font-semibold text-lg">
                            <span>
                                <i class="fa-solid fa-heart"></i>
                            </span>
                            wishlist
                        </button>
                        <button class="py-2 px-4 ml-2 w-full bg-amber-300 hover:bg-amber-400 font-semibold text-lg">
                            <span>
                                <i class="fa-solid fa-cart-shopping"></i>
                            </span>
                            keranjang
                        </button>
                    </div>
                    <button class="py-2 mb-2 border border-sky-600 bg-sky-100 w-full font-semibold text-xl hover:border-sky-600 hover:bg-sky-300">beli</button>
                </div>
            </div>
        </section>
    </main>

    <footer class="mt-16 pt-16 bg-main"> 
        <div class="container lg:max-w-7xl mx-auto px-4 grid grid-cols-1 md:grid-cols-6 gap-6">
            <div class="col-span-1 md:col-span-3 lg:col-span-2">
                <img class="w-52 h-52 self-center" src="../public/img/1.png" alt="">
            </div>
          
            <div class="text-white">
                <h1 class="text-xl font-bold mb-2">Products</h1>
                <div class="flex flex-col">
                    <a href="#">Foods</a>
                    <a href="#">Fashion</a>
                    <a href="#">Gadgets</a>
                    <a href="#">Personal care</a>
                    <a href="#">Electronics</a>
                    <a href="#">Home</a>
                    <a href="#">Tools</a>
                </div>
            </div>
    
            <div class="text-white">
                <h1 class="text-xl font-bold mb-2">Customer Services</h1>
                <div class="flex flex-col">
                    <a href="store_ToU.html">Help Center</a>
                    <a href="store_ToU.html">Privacy & Security</a>
                    <a href="store_ToU.html">Terms of Use</a>
                </div>
            </div>
    
            <div class="text-white">
                <h1 class="text-xl font-bold mb-2">MarketEer</h1>
                <div class="flex flex-col">
                    <a href="store_ToU.html">About Us</a>
                    <a href="store_ToU.html">Contacts</a>
                </div>
            </div>
        </div>
        <div class="text white text-sm font-semibold border-t max-w-7xl mx-auto py-6 mt-16 text-center">kopirek &copy; MarketEer 2022</div>
    </footer>

    <script>
        function detail() {
            var detail = document.getElementById('detail-click');
            var item   = document.getElementById('detail-item');
            var detil = document.getElementById('detil');
            var tutup = document.getElementById('tutup');

            if (item.style.display === 'none') {
                item.style.display = 'block';
                detil.style.display = 'block';
                tutup.style.display = 'none';
            } else {
                item.style.display = 'none';
                detil.style.display = 'none';
                tutup.style.display = 'block';
            }
        }

        function myFunction() {
            document.getElementById("dropdown-category").classList.toggle("hidden");
            }

        //dropdown tutup
        window.onclick = function(event) {
            if (!event.target.matches('.dropdown-button')) {
                var dropdowns = document.getElementsByClassName("drop-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }


        //pilih ukuran
        let btn = document.getElementsByClassName("btn");
        for (var i = 0; i < btn.length; i++) {
        (function (index) {
            btn[index].addEventListener("click", function () {
                console.log("Clicked Button: " + index);

            let isPresent = false;

            //   Check if the class is present or not
            this.classList.forEach(function (e, i) {
                if (e == "ukuran-focus") {
                isPresent = true;
                } else {
                isPresent = false;
                }
            });

            //   toggle the presence of class on the basis of the isPresent variable
            if (isPresent) {
                this.classList.remove("ukuran-focus");
            } else {
                this.classList.add("ukuran-focus");
            }
            });
        })(i);
        }

        
        //tambah kurang jumlah barang
        const incrementCount = document.getElementById("buttonInc");
        const decrementCount = document.getElementById("buttonDec");
        const totalCount = document.getElementById("hasil");
        var count = 0;

        totalCount.innerHTML = count;

        const handleIncrement = () => {
            count++;
            totalCount.innerHTML = count;
        };

        const handleDecrement = () => {
            if(this.count > 0){
                this.count -= 1
            }
            totalCount.innerHTML = count;
        };

        incrementCount.addEventListener("click", handleIncrement);
        decrementCount.addEventListener("click", handleDecrement);


    </script>
</body>
</html>