<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>MarketEer</title>
    <link rel="stylesheet" type="text/css" href="../public/src/custom.css">
    <link rel="stylesheet" type="text/css" href="../public/src/store.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/20fcff0bce.js" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="max-w-screen-2xl max-h-max mx-auto">
    <div class="box-main">
        <div class="content">
            <div class="relative w-full h-full bg-white pt-4">
                <div class="flex justify-center w-full h-auto">
                    <div class="exo text-3xl text-[#ff4800]">MarketEer</div>
                </div>
                <form action="" class="w-4/5 mx-auto mt-6 sm:pb-4">
                    <input type="text" name="user" placeholder="username, email atau no telepon" class="block w-full mb-5 mt-1 rounded-sm bg-slate-100 py-1 px-2 mx-auto border focus:border-sky-300 focus:ring-sky-300 focus:ring-1 focus:outline-none">

                    <input type="password" name="password" placeholder="password" class="block w-full mt-1 rounded-sm bg-slate-100 py-1 px-2 mx-auto border focus:border-sky-300 focus:ring-sky-300 focus:ring-1 focus:outline-none">

                    <div class="flex justify-center mt-4 sm:mt-7">
                        <button type="submit" class="px-3 py-1 rounded-lg font-semibold text-white border-2 border-[#0059ff] bg-[#0059ff] hover:">Login</button>
                    </div>
                </form>
                <div class="flex border-t-2 border-slate-300 w-3/4 mx-auto">
                    <a href="#">
                        <div class="mt-2 font-semibold text-blue-600">Sign In</div>
                    </a>
                    
                    <a href="#" class="ml-auto">
                        <div class="mt-2 font-semibold text-blue-600">Forgot Password</div>
                    </a>
                </div>
                <div class="absolute flex w-full bottom-0 px-2 py-2">
                    <div class="self-center mx-auto">
                        <p class="font-semibold">MarketEer &copy; 2022</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</body>
</html>