<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>MarketEer</title>
  <link rel="stylesheet" type="text/css" href="../public/src/custom.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Sulphur+Point:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://kit.fontawesome.com/20fcff0bce.js" crossorigin="anonymous"></script>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-slate-100 max-w-screen-2xl mx-auto">
  <nav class="top-0 z-10 bg-main flex flex-col text-white sticky" id="navMain">
    <div class="h-5 w-full flex bg-gray-300 top-0 sticky">
      <div class="flex ml-auto mr-4 text-black text-sm"> 
        <a href="store_ToU.html" class="mr-2 hover:text-[#ff2f00]">About</a>
        <a href="store_ToU.html" class="mr-2 hover:text-[#ff2f00]">Help Center</a>
        <a href="store_login.html" class="flex mr-2 hover:text-[#ff2f00]">
          <span class="self-center" id="">        
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg> 
          </span>
          <p class="">Akun</p>
        </a>
      </div>
    </div>

    <div class="flex justify-between h-20 w-auto px-6 md:px-16 lg:px-24 font-semibold ">
      <div class="trirong self-center">
        <a href="store.html" class="text-3xl hidden sm:block sm:text-4xl">MarketEer</a>
        <a href="store.html" class="h-full flex w-16 block sm:hidden">
          <img src="../public/img/MARKETEER_CROPED.png" alt="" class="w-full self-center object-cover">
        </a>
      </div>
      <form class="w-8/12 h-full">
        <div class="h-full flex relative mx-4">
            <button id="dropdown-button" onclick="myFunction()" data-dropdown-toggle="dropdown" class="self-center flex-shrink-0 z-10 inline-flex items-center py-2.5 px-2 sm:px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 focus:border-blue-700 focus:ring-blue-700 focus:ring-1 focus:outline-none" type="button">
              <p class="hidden sm:block">All categories</p>
              <p class="block sm:hidden">All</p>
              <svg aria-hidden="true" class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
            </button>
            <div id="dropdown-category" class="w-36 z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow left-0 absolute mt-16">
              <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdown-button">
                <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">fashion</button>
                </li>
                <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">personal care</button>
                </li>
                <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">gadgets</button>
                </li>
                <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">electronics</button>
                </li>
                <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">home</button>
                </li>
                <li>
                    <button type="button" class="inline-flex w-full px-4 py-2 hover:bg-gray-100">tools</button>
                </li>
              </ul>
            </div>
            <div class="relative w-full self-center">
              <form action="">
                <input type="search" id="search-dropdown" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-lg border-l-gray-50 border border-gray-300 focus:border-blue-700 focus:ring-blue-700 focus:ring-1 focus:outline-none" placeholder="Cari barang..." required>
                <button type="submit" class="absolute top-0 right-0 p-2.5 text-sm font-medium text-white bg-blue-700 rounded-r-lg border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300">
                    <svg aria-hidden="true" class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                    </svg>
                </button>
              </form>
            </div>
        </div>
      </form>
      <div class="flex trirong self-center text-white">
        <a href="#" class="mr-1 sm:ml-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 sm:w-9 sm:h-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
          </svg>          
        </a>
        <a href="#" class="ml-1 sm:ml-4">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 sm:w-9 sm:h-9">
            <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
          </svg>  
        </a>
      </div>
    </div>
  </nav>

  <main class="">
    <section class="flex absolute top-0 bg-aesthetic -z-10 h-full max-w-screen-2xl" >
    </section>

    <section class="container w-full h-40 sm:h-60 relative my-14 mx-auto bg-amber-200/[.5] flex carousel-slide flex relative overflow-hidden">
      <div class="slide">
          <a href="#" target="_blanks">
            <img class="object-cover w-full h-full" src="../public/img/2208_w023_n003_2842b_p1_2842.jpg" alt="">
          </a>
      </div>
      <div class="slide">
          <a href="#" target="_blanks">
            <img class="object-cover w-full h-full" src="../public/img/7943208.jpg" alt="">
          </a>
      </div>
      <div class="slide">
          <a href="#" target="_blanks">
            <img class="object-cover w-full h-full" src="../public/img/16221025_5725317.jpg" alt="">
          </a>
      </div>
      <span class="w-12 h-12 sm:w-20 sm:h-20 ml-2 flex justify-center self-center prevButton left-0 absolute rounded-full bg-white hover:bg-white/[.8]">
        <i class="fa-solid fa-chevron-left fa-2x self-center text-[#ff4800]"></i>      
      </span>
      <span class="w-12 h-12 sm:w-20 sm:h-20 mr-2 flex justify-center self-center nextButton right-0 absolute rounded-full bg-white hover:bg-white/[.8]">
        <i class="fa-solid fa-chevron-right fa-2x self-center text-[#ff4800]"></i>
      </span>
    </section>

    <section class="w-full h-auto mx-auto" id="best-offer">
      <h1 class="text-4xl font-semibold mb-2 ml-4">Best Offers</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4 relative">
        <div class="col-span-1 rounded-lg shadow-md bg-white mt-4 md:mt-1 mx-2 relative">
          <div class="container top-0 absolute hover:cursor-default">
            <div class="relative flex justify-center seller" >
              <p class="self-center font-semibold text-white">Best Seller</p>
            </div> 
          </div>
          <a href="store_product.html" class="">
            <div class="h-64 sm:h-3/5 md:h-2/4 xl:h-3/5">
              <img class="object-contain h-full w-full" src="../public/img/71jmjOxxE3L.jpg" alt="Sunset in the mountains">
            </div>
          </a>
          <div class="h-auto py-4 px-6">
            <div class="font-bold text-xl mb-2">
              <a href="store_product.html" class="hover:underline underline-offset-1">Google Pixel 7 Pro 12/512GB</a>
            </div>
            <span class="flex flex-wrap mb-1">
              <span class="bg-[#ca0101] px-3 py-1 text-sm font-semibold text-white">42%</span>
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp1.500.000</p>              
            </span>
            <p class="text-lg font-semibold self-center">Rp14.999.999</p>
          </div>
        </div>

        <div class="col-span-1 rounded-lg shadow-md bg-white mt-4 md:mt-1 mx-2 relative">
          <div class="container top-0 absolute hover:cursor-default">
            <div class="relative flex justify-center favorite">
              <p class="self-center font-semibold text-white">Favorite</p>
            </div>
          </div>
          <a href="store_product.html" class="">
            <div class="h-64 sm:h-3/5 md:h-2/4 xl:h-3/5">
              <img class="object-contain h-full w-full" src="../public/img/ss21710829165003_1x.jpg" alt="Sunset in the mountains">
            </div>
          </a>
          <div class="h-auto py-4 px-6">
            <div class="font-bold text-xl mb-2">
              <a href="store_product.html" class="hover:underline underline-offset-1">Polo Bear by Ralph Lauren M/L/XL/XXL</a>
            </div>
            <span class="flex flex-wrap mb-1">
              <span class="bg-[#ca0101] px-3 py-1 text-sm font-semibold text-white">38%</span>
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp2.430.000</p>              
            </span>
            <p class="text-lg font-semibold self-center">Rp20.999.999</p>
          </div>
        </div>

        <div class="col-span-1 rounded-lg shadow-md bg-white mt-4 md:mt-1 mx-2 relative">
          <div class="container top-0 absolute hover:cursor-default">
              <div class="relative flex justify-center men">
                <p class="self-center font-semibold text-white">Men</p>
              </div>
          </div>
          <a href="store_product.html" class="">
            <div class="h-64 sm:h-3/5 md:h-2/4 xl:h-3/5">
              <img class="object-contain h-full w-full" src="../public/img/nike-jordan.jpg" alt="Sunset in the mountains">
            </div>
          </a>
          <div class="h-auto py-4 px-6">
            <div class="font-bold text-xl mb-2">
              <a href="store_product.html" class="hover:underline underline-offset-1">Air Jordan 7 Retro SE Men's Shoes 40-47</a>
            </div>
            <span class="flex flex-wrap mb-1">
              <span class="bg-[#ca0101] px-3 py-1 text-sm font-semibold text-white">15%</span>
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp983.000</p>              
            </span>
            <p class="text-lg font-semibold self-center">Rp3.999.999</p>
          </div>
        </div>

        <div class="col-span-1 rounded-lg shadow-md bg-white mt-4 md:mt-1 mx-2 relative">
          <div class="container absolute top-0">
              <div class="women flex justify-center">
                <p class="self-center font-semibold text-white">Women</p>
              </div>
          </div>
          <a href="store_product.html" class="">
            <div class="h-64 sm:h-3/5 md:h-2/4 xl:h-3/5">
              <img class="object-contain h-full w-full" src="../public/img/Hermes-Kelly.jpg" alt="Sunset in the mountains">
            </div>
          </a>
          <div class="h-auto py-4 px-6">
            <div class="font-bold text-xl mb-2">
              <a href="store_product.html" class="hover:underline underline-offset-1">(HSS) Kelly Sellier 28 Nata and Craie Epsom Gold</a>
            </div>
            <span class="flex flex-wrap mb-1">
              <span class="bg-[#ca0101] px-3 py-1 text-sm font-semibold text-white">23%</span>
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp435.900</p>              
            </span>
            <p class="text-lg font-semibold self-center">Rp517.209.000</p>
          </div>
        </div>
      </div>
    </section>

    <section class="w-full h-auto mx-auto mt-12" id="daily-offer">
      <h1 class="text-3xl font-semibold mb-2 ml-4">Daily Offers</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4">
        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>
      </div>    
    </section>

    <section class="w-full h-auto mx-auto mt-12" id="trends">
      <h1 class="text-3xl font-semibold mb-2 ml-4">Trends</h1>
      <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 px-4">
        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>

        <div class="rounded shadow-xl bg-white m-2">
          <a href="store_product.html" class="">
            <img class="h-3/5 w-full object-cover" src="../public/img/1655699125.jpeg" alt="Sunset in the mountains">
          </a>
          <div class="px-6 my-2">
            <p class="font-semibold text-lg">
              <a href="store_product.html" class="hover:underline underline-offset-1">Scarlett Whitening Body Lotion by Felicya Angelista Romansa</a>
            </p>
          </div>
          <div class="px-6 mb-1">
            <span class="flex flex-wrap">
              <i class="fa fa-star self-center text-[#fac800]"></i>
              <p class="self-center mx-1">4.8</p>
              <p class="self-center text-sm text-black/[.7]">(161290)</p>
            </span>
          </div>
          <div class="px-6 mt-1">
            <span class="flex flex-wrap mb-2">  
              <p class="text-xl font-bold text-[#fa4f00] self-center">Rp75.000</p> 
              <p class="mx-2 text-sm line-through self-center text-secondary">Rp150.000</p> 
            </span>
          </div>
        </div>
      </div>    
    </section>

  </main>

  <footer class="mt-16 pt-16 bg-main"> 
    <div class="container lg:max-w-7xl mx-auto px-4 grid grid-cols-1 md:grid-cols-6 gap-6">
        <div class="col-span-1 md:col-span-3 lg:col-span-2">
            <img class="w-52 h-52 self-center" src="../public/img/1.png" alt="">
        </div>
      
        <div class="text-white">
            <h1 class="text-xl font-bold mb-2">Products</h1>
            <div class="flex flex-col">
                <a href="#">Foods</a>
                <a href="#">Fashion</a>
                <a href="#">Gadgets</a>
                <a href="#">Personal care</a>
                <a href="#">Electronics</a>
                <a href="#">Home</a>
                <a href="#">Tools</a>
            </div>
        </div>

        <div class="text-white">
            <h1 class="text-xl font-bold mb-2">Customer Services</h1>
            <div class="flex flex-col">
                <a href="store_ToU.html">Help Center</a>
                <a href="store_ToU.html">Privacy & Security</a>
                <a href="store_ToU.html">Terms of Use</a>
            </div>
        </div>

        <div class="text-white">
            <h1 class="text-xl font-bold mb-2">MarketEer</h1>
            <div class="flex flex-col">
                <a href="store_ToU.html">About Us</a>
                <a href="store_ToU.html">Contacts</a>
            </div>
        </div>
    </div>
    <div class="text white text-sm font-semibold border-t max-w-7xl mx-auto py-6 mt-16 text-center">kopirek &copy; MarketEer 2022</div>
</footer>

  <script>
   /* window.onscroll = function() {navbar()}

    function navbar(){
      const navbar = document.getElementById('navMain');

      if(document.body.scrollTop > 5){
        navbar.classList.add('sticky', 'bg-main', 'text-white')
        navbar.classList.remove('bg-transparent', 'text-[#fa8c00]')
      } else {
        navbar.classList.remove('sticky', 'bg-main', 'text-white')
        navbar.classList.add('text-[#fa8c00]')
      }
    }*/


    function myFunction() {
            document.getElementById("dropdown-category").classList.toggle("hidden");
            }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
            if (!event.target.matches('.dropdown-button')) {
                var dropdowns = document.getElementsByClassName("drop-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                  }
                }
              }
            }


    document.addEventListener('DOMContentLoaded', () => {
      document.querySelectorAll('.carousel-slide').forEach((carousel) => {

        carousel.querySelector('.prevButton').addEventListener('click', (e) => {
          minusItem(carousel);
        });

        carousel.querySelector('.nextButton').addEventListener('click', () => {
          plusItem(carousel);
        });

        insertDots(carousel);

        carousel.querySelectorAll('.dot').forEach((dot) => {
          dot.addEventListener('click', (e) => {
            let item = Array.prototype.indexOf.call(
              e.target.parentNode.children,
              e.target
            );

            showItems(carousel, item);
          });
        });

        showItems(carousel, 0);

      });
    });

    function insertDots(carousel) {
      const dots = document.createElement('div');
      dots.classList.add('dots');

      carousel.append(dots);

      carousel.querySelectorAll('.slide').forEach((elem) => {
        const dot = document.createElement('div');
        dot.classList.add('dot');

        carousel.querySelector('.dots').append(dot)
      });
    }

    function plusItem(carousel) {
      let item = currentItem(carousel);

      carousel.querySelectorAll('.slide')[item].nextElementSibling.classList.contains('slide')
        ? showItems(carousel, item + 1)
        : showItems(carousel, 0);
    }

    function minusItem(carousel) {
      let item = currentItem(carousel);

      carousel.querySelectorAll('.slide')[item].previousElementSibling != null
      ? showItems(carousel, item - 1)
      : showItems(carousel, carousel.querySelectorAll('.slide').length - 1);
    }

    function currentItem(carousel) {
      return [...carousel.querySelectorAll('.slide')].findIndex(
        (item) => item.style.display == "block"
      );
    }

    function showItems(carousel, item) {
      if (carousel.querySelectorAll('.slide')[currentItem(carousel)] != undefined)
          carousel.querySelectorAll('.slide')[currentItem(carousel)].style.display = 'none';
          carousel.querySelectorAll('.slide')[item].style.display = 'block';

      if (carousel.querySelector('.dot.active') != null)
          carousel.querySelector('.dot.active').classList.remove('active');
          carousel.querySelectorAll('.dot')[item].classList.add('active');
     }

  </script>
</body>
</html>