

#homeNav {
    background-color: #fa8c00;
    background-image: linear-gradient(247deg,#fff 48%,#fa8c00 20%) !important;
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent
}

#menuSide:active {
    background-color: #fa8c00 !important;
    color: #fff !important;
}

#menuSide:hover {
    background-color: rgba(255, 255, 255, .3) !important;
    color: #fff !important;
}

.bgcok {
  background-color: #ff4800;
}

.bg-aesthetic {
    background-image: url("../img/background-1.png");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    opacity: .999999;
    width: 100%;
    height: 100%;
}

.bg-white-gradient {
    background-image: linear-gradient(to bottom, rgba(241, 245, 249, .01), rgba(241, 245, 249, .3), rgba(241, 245, 249, 1));
    width: 100%;
    height: 30%;
    margin-top: auto;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.seller {
    width: 100%;
    height: 5%;
    background: transparent;
    position: relative;
}
  
.seller:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top: 30px solid #ff4800;
    border-right: 120px solid #2ee3e8;
    border-radius: 0px 0px 50px 0px ;
    width: 10px;
    height: 100%;
    z-index: 2;
}

.text-secondary {
    color: #2d3133 !important;
}

.trirong {
    font-family: 'Sulphur Point', sans-serif;
}



